@charset "utf-8";
/*通用样式*/
*{margin:0; padding:0; list-style:none; }
body{ background:#fff!important; margin:0 auto;font:normal 12px/22px "微软雅黑";  }
img{ border:0;  }
a{ text-decoration:none; color:#000;  }
a:hover{ color:red;  }
.clear { clear:both;}


/* CSS Document */
.bsbg { background:#fff;}
.game-img { text-align:center; padding-top:20px; padding-bottom:20px; border-top:1px solid #eeeeee; border-bottom:1px dashed #eeeeee;}
.game-img .img-ico { width:120px; border-radius:24px; margin:0 auto!important; display:block!important; border:1px solid #ddd;}
.btn-bar { border-bottom:1px dashed #eeeeee;}
.btn-bar ul { text-align:center;}
.btn-bar ul li { display:inline-block; margin:20px 10px 10px;}
.btn-bar a { display:block; width:128px; height:48px; font-size:16px; text-align:center; color:#fff; line-height:48px;}
.btn-bar .and { background:#72c02c;}
.btn-bar .ios { background:#0693ff;}
.btn-bar span { display:block; width:100px; height:25px; border-radius:3px; color:#fff; background:#5bc0de; margin:20px auto;}
.introduce { padding-top:10px; text-align:center; font-size:14px; color:#333;}
.introduce span { padding:0 7px; line-height:1.6;}
.introduce-img { text-align:center; padding-top:30px; text-align:center;}
.introduce-img img { width:175px; height:175px; margin:0 auto; display:block;}
.introduce-img a { line-height:36px; color:#56bc94;}
.copy { text-align:center; line-height:42px; margin-bottom:15px;}
.copy .btn-copy { cursor:pointer; color:#56bc94;}
.footer { line-height:28px; background:#f4f4f4; padding:20px 0; border-top:1px solid #e5e5e5; text-align:center;}
.footer .free { color:#116dfe;}
.footer .jb { display:inline-block; width:48px; height:28px; color:#fff; background:#5cb85c; margin-left:5px; border:1px solid #4cae4c; border-radius:3px;}
#roll img { width:120px; height:120px;}
#roll {width:100px;height:100px; color:#fff; position:absolute;}
#roll span { color:red; cursor:pointer;}
.screen { position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.5)}
.screen-bar { position:relative; padding-top:80px;}
.screen-bar img { position:absolute; width:10%; height:auto; right:10px; top:10px;}
.screen-bar p { color:#fff; text-align:center; font-size:18px; line-height:36px;}
.screen-bar span { display:block; border:1px solid #fff; font-size:18px; line-height:36px; width:120px; text-align:center; margin:300px auto 0; border-radius:6px; color:#fff; cursor:pointer;}