// 超出一行省略号
.ellipsis
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

//定位全屏
.allcover
  position absolute
  top 0
  right 0

//定位上下左右居中
.center
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)

.cc-f
  position: fixed
  top 0px
  left 0px
  right 0px
  bottom 0px
  margin auto

.cc-a
  position absolute
  top 0px
  left 0px
  right 0px
  bottom 0px
  margin auto

//定位上下居中
.ct
  position absolute
  top 50%
  transform translateY(-50%)


//定位上下居中
.cl
  position absolute
  left 50%
  transform translateX(-50%)

.page-title
  font-size 30px
  font-weight bold
  position relative
  padding-bottom 30px
  color #1E64B4
  text-align center
  // white-space nowrap
  &:after
    content ''
    width 60px
    height 4px
    background rgba(30,100,180,1)
    border-radius 2px
    position absolute
    left 50%
    bottom 0
    transform translate(-50%, -50%)
